
@{
    ViewData["Title"] = "Contacto";
}



<nav class="navbar colornav mx-auto">
    <!--<a class="colornav margin-izquierda underline" href="#">Inicio</a>-->
    <!--<a class="textgray marginderecha underline" href="reserva.html">Reservas</a>-->
    <h3 class=""><strong>Contacto</strong></h3>
</nav>


<div class="card  mx-auto margin-top">
    <div class="card-body">
        <div class="card-header bg-azul"><strong> INFORMACIÓN DE CONTACTO:</strong></div><br>
        <form>
            <div class="mb-3">
                <label for="inputNombre"><strong>Dirección:</strong></label>
                <label>Calle Khuala Lumpur, #26 casi esquina Dr. Joaquín Balaguer, Punta Cana, República Dominicana</label>
            </div>

            <div class="mb-3">
                <label for="inputNombre"><strong>Teléfono:</strong></label>
                <label>809-999-9999</label>
            </div>

            <div class="mb-3">
                <label for="inputNombre"><strong>FAX:</strong></label>
                <label>809-888-8888</label>
            </div>

            <div class="mb-3">
                <label for="inputNombre"><strong>Email:</strong></label>
                <label>hotelsun@turismo.com.do</label>
            </div>

            <div class="mb-3">
                <label for="inputNombre"><strong>Dirección:</strong></label>
                <label>Calle Khuala Lumpur, #26 casi esquina Dr. Joaquín Balaguer, Punta Cana, República Dominicana</label>
            </div> <br>

            <h6><strong>Horario de la oficina</strong></h6>
            <label>Lunes a Viernes, de 8:00a.m - 4:00p.m</label>


        </form>
    </div>
</div>