@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="margin-top col-2 bg-gray">
        <h4 class="margin-izquierda"><strong>SOBRE EL HOTEL: </strong></h4>

        <p class="sobrenosotros margin-izquierda">
            Somos un nuevo hotel en la línea de resorts Sun,
            con una capacidad para 7,000 huéspedes con una <br> gran variedad de
            restaurantes y una playa al nivel de las mejores de la región.
        </p>
    </div>

    <div class="col-6 margin-izquierda-1">
        <h3 class="imagenes"><strong>Imágenes sobre el hotel: </strong></h3> <br>

        <img src="~/img/2021-03-16 21_34_08-Window.png" width="350" height="200">
        <img src="~/img/2021-03-16 21_35_41-Window.png" width="350" height="200"> <br>
        <img src="~/img/2021-03-16 21_36_05-Window.png" width="350" height="200">
        <img src="~/img/2021-03-16 21_36_33-Window.png" width="350" height="200">
        <img src="~/img/2021-03-16 21_44_25-Window.png" width="350" height="200">
        <img src="~/img/2021-03-16 21_45_27-Window.png" width="350" height="200">
    </div>

    <div class="col-2 footer-derecha margin-top">
        <div>
            <a href="https://twitter.com/"><img src="~/img/twitter.png" width="40" height="40"></a>
        </div>

        <div class="margin-top">
            <a href="https://www.instagram.com/"><img src="~/img/ig.png" width="40" height="40"></a>
        </div>

        <div class="margin-top">
            <a href="https://www.facebook.com/"><img src="~/img/face.png" width="40" height="40"></a>
        </div>
    </div>

</div>
