@{
    ViewData["Title"] = "Login";
}


<div class="row">
    <div class="col-md-2 margin-izquierda-3">
        <a href="index.html"><img src="~/img/2021-04-05 20_47_26-Window.png"></a>
    </div>
    <div class="col-4">
        <h1 class="sunhotel margin-top-1">SunHotel</h1>
    </div>
    <div class="footer-centro">
        <ul>
            <li class="underline">SunHotel Rep. Dominicana</li>
            <li class="underline">Calle Khuala Lumpur, Punta Cana</li>
            <li class="underline">Tel: 809-999-9999</li>
            <li class="underline">hotelsun@turismo.com.do</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-3 margin-izquierda-4 footer-centro login-color">
        <img class="margin-top-1" src="~/img/2021-04-05 20_47_26-Window.png" width="180" height="120">
        <h3 class="margin-top">Registro</h3>

        <form>
            <div class="mb-3 margin-top">
                <label for="cedula">Cédula: </label>
                <input type="text" name="Cedula" id="cedula">
            </div>

            <div class="mb-3 margin-top">
                <label for="contrasena">Contraseña: </label>
                <input type="password" name="password" id="contrasena">
            </div>

            <div class="col-7 margin-derecha footer-derecha">
                <a class="btn btn-warning" href="index.html">Atrás</a>
                <a class="btn btn-success" href="index.html">Ingresar</a>
            </div>

        </form>

    </div>
</div>