@model ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";


}


<link href="~/css/signin.css" rel="stylesheet">

<br />
<br />
<br />

<body class="text-center">


    <form asp-action="Login" method="post" class="form-signin">
        <img class="mb-4" src="~/img/logo.png" alt="" width="318" height="160">
        <h1 class="h4 mb-3 font-weight-normal">Iniciar Sesion</h1>
        <div asp-validation-summary="All" class="text-danger">
        </div>
        @*<div class="alert alert-danger" role="alert" style="display:@ViewBag.mostrar;">
            <h4 class="alert-heading">Tu Cuenta esta Inactiva!</h4>
            <p>Al registrarte te hemos enviado un mail a tu correo electronico para que puedas activar tu cuenta.</p>
            <hr>
            <p class="mb-0">No tendras acceso a la App sin haber activado tu cuenta! Apurate.</p>
        </div>*@
        <label asp-for="usuario" class="sr-only">Usuario</label>
        <input asp-for="usuario" class="form-control" placeholder="Usuario">
        <span asp-validation-for="usuario" class="text-danger"></span>
        <label asp-for="Contraseña" class="sr-only">Contraseña</label>
        <input type="password" asp-for="Contraseña" class="form-control" placeholder="Contraseña">
        @*<div class="text-right mb-1"> <a asp-action="Recuperar" class="card-link">Olvidaste Constraseña?</a></div>*@
        <span asp-validation-for="Contraseña" class="text-danger"></span>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>

        <p class="mt-5 mb-3 text-muted">&copy; 2021-2021</p>

    </form>
</body>
