<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="assets\Bootstrap\bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>

    <div class="row">
        <div class="col-2 margin-izquierda">
            <a href="index.html"><img src="assets\img\2021-04-05 20_47_26-Window.png" width="190" height="160"></a>
        </div>

        <div class="col-4">
            <a href="index.html" class="underline text-dark"><h1 class="sunhotel margin-top-1">SunHotel</h1></a>
        </div>

        <div class="col-4">
            <a href="https://optic.gob.do/nortic/"> <img class="margin-top-1" src="assets\img\2021-03-16 15_04_04-Window.png"></a>
            <a class="textgray underline" href="login.html"><h6 class="footer-derecha margin-derecha">Ingresar</h6></a>
        </div>
    </div>

    <nav class="navbar colornav">
        <!--<a class="colornav margin-izquierda underline" href="#">Inicio</a>-->
        <!--<a class="textgray marginderecha underline" href="reserva.html">Reservas</a>-->
        <h3 class="margin-izquierda"><strong>Mapa</strong></h3>
    </nav>

    <div class="card col-md-6 margin-izquierda-1 margin-top">
        <div class="card-body">
            <div class="card-header bg-azul"><strong> MAPA DEL SITIO:</strong></div><br>

            <div class="margin-izquierda-1 margin-top" id="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3778.4512101759274!2d-68.48493668509846!3d18.73337216752053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ea8ea2d831c3613%3A0xa81a3896d0e4c5a5!2sHard%20Rock%20Hotel%20%26%20Casino%20Punta%20Cana!5e0!3m2!1ses-419!2sdo!4v1617831094636!5m2!1ses-419!2sdo"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>

    
   

    
    <footer class=" margin-top navbar colornav"></footer>
    <div class="row">
        <div class="footer-centro">
            <img src="assets\img\2021-04-05 20_47_26-Window.png" width="100" height="100">
            <a href="https://optic.gob.do/nortic/"> <img src="assets\img\2021-03-16 22_19_16-Window.png" width="100" height="100"></a>
            <a href="https://optic.gob.do/nortic/"> <img src="assets\img\2021-03-16 22_11_09-Window.png" width="400" height="140" class="footer-derecha"></a>
            <div class="footer-centro">
                <ul>
                    <li class="underline">SunHotel Rep. Dominicana</li>
                    <li class="underline">Calle Khuala Lumpur, Punta Cana</li>
                    <li class="underline">Tel: 809-999-9999</li>
                    <li class="underline">hotelsun@turismo.com.do</li>
                </ul>
            </div>
        </div>
        
        
    </div>
</body>
</html>