@{
    ViewData["Title"] = "Home Page";
}



<h3 class="footer-centro">Para empezar la reserva ingrese los siguientes datos:</h3>

<div class="row">
    <div class="margin-down-reserva col-2 bg-gray">
        <h4 class="margin-izquierda">Información: </h4>
        <p class="sobrenosotros margin-izquierda">
            Para los siguientes tres meses, la ocupación
            de las habitaciones es de un 93%. <br>
            Le recomendamos hacer su reserva lo más antes
            posible por si se llenan todas las habitaciones
            antes de tiempo.
        </p>
    </div>

    <div class="col-2">
        <form class="margin-izquierda-2">

            <div class="mb-3">
                <label for="inputNombre">Nombre: </label>
                <input type="text" name="nombre" id="inputNombre">
            </div>

            <div class="mb-3">
                <label for="inputCedula">Cédula:  </label><br>
                <input type="text" name="cedula" id="inputCedula">
            </div>

            <div class="mb-3">
                <label for="fechaLlegada">Fecha de llegada: </label>
                <input type="date" name="fechaLlego" id="fechaLlegada">
            </div>

            <div class="mb-3">
                <label for="fechaSalida">Fecha de Salida: </label>
                <input type="date" name="fechaSale" id="fechaSalida">
            </div>

            <div class="mb-3">
                <label for="inputAdultos">Adultos: </label>
                <input type="text" name="adulto" id="inputAdultos">
            </div>

            <div class="mb-3">
                <label for="inputNinos">Niños: </label> <br>
                <input type="text" name="ninos" id="inputNinos">
            </div>

            <div class="mb-3">
                <label for="tipoHabitacion">Tipo de habitación: </label>
                <select name="selectHabitacion" id="tipoHabitacion">
                    <option value="">Seleccione el tipo de habitación</option>
                    <option value="individual">Individual</option>
                    <option value="doble">Doble</option>
                    <option value="triple">Triple</option>
                    <option value="cuadruple">Cuádruple</option>
                    <option value="suite">Suite</option>
                    <option value="suiteEjecutiva">Suite Ejecutiva</option>
                </select>
            </div>

            <div class="col-2">
                <a class="btn btn-success" href="resumen.html">Continuar</a>
            </div>
        </form>

    </div>

    <div class="col-8 footer-derecha margin-top">
        <div>
            <a href="https://twitter.com/"><img src="~/img/twitter.png" width="40" height="40"></a>
        </div>

        <div class="margintop">
            <a href="https://www.instagram.com/"><img src="~/img/ig.png" width="40" height="40"></a>
        </div>

        <div class="margintop">
            <a href="https://www.facebook.com/"><img src="~/img/face.png" width="40" height="40"></a>
        </div>
    </div>

</div>