@{
    ViewData["Title"] = "Resumen";
}

<div class="row">
    <div class="col-md-2 margin-izquierda-3">
        <img src="~/img/2021-04-05 20_47_26-Window.png">
    </div>
    <div class="col-4">
        <h1 class="sunhotel margin-top-1">SunHotel</h1>
    </div>
    <div class="footer-centro">
        <ul>
            <li class="underline">SunHotel Rep. Dominicana</li>
            <li class="underline">Calle Khuala Lumpur, Punta Cana</li>
            <li class="underline">Tel: 809-999-9999</li>
            <li class="underline">hotelsun@turismo.com.do</li>
        </ul>
    </div>
</div>

<div class="row footer-centro margin-izquierda margin-top">
    <div class="col-4">
        <h4>Número de reserva:</h4>
        <label for="numeroReserva">123321</label>
    </div>

    <div class="col-4">
        <h4>Nombre del representante:</h4>
        <label for="nombre">Roger Jesús Rosario</label>
    </div>

    <div class="col-4">
        <h4>Número de teléfono</h4>
        <label for="telefono">809-809-8098</label>
    </div>
</div>

<div class="row margin-top colornav">
    <div class="col-2">
        <h5>Fecha de ingreso</h5>
        <label for="fechaLlego">03/04/2021</label>
    </div>

    <div class="col-2">
        <h5>Fecha de salida</h5>
        <label for="fechaSale">04/04/2021</label>
    </div>

    <div class="col-2">
        <h5>Huéspedes</h5>
        <label for="huespedes">5</label>
    </div>

    <div class="col-2">
        <h5>Habitación</h5>
        <label for="habitacion">A-4</label>
    </div>

    <div class="col-2">
        <h5>Edificio</h5>
        <label for="edificio">14</label>
    </div>

    <div class="col-2">
        <h5>Precio</h5>
        <label for="precio">15,000.00 DOP</label>
    </div>
</div>
<div class="footer-derecha margin-derecha margin-top">
    <a class="btn btn-warning" href="reserva.html">Atrás</a>
    <a class="btn btn-success" href="pago.html">Pago</a>
</div>
