<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SunHotel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <div class="row">
            <div class="col-2 margin-izquierda">
                <a href="index.html"><img src="~/img/2021-04-05 20_47_26-Window.png"></a>
            </div>

            <div class="col-4">
                <a href="index.html" class="underline text-dark"><h1 class="sunhotel margin-top-1">SunHotel</h1></a>
            </div>

            <div class="col-4">
                <div class="headerBoxBox1">
                    <div class="repDom"></div>
                    <div class="pSearch">
                        <!--[COLOCAR BUSCADOR EN ESTA PARTE]-->
                        <div class="search">
                            <input name="search" type="text" id="mod-search-searchword">
                            <input name="search" type="image" src="~/img/searchButton.gif">
                        </div><!--end search-->
                    </div><!--end pSearch-->
                    <div class="navMenu">
                        <!--[COLOCAR EN ESTA PARTE EL MENU DE NAVEGACION FACIL]-->
                        <ul class="menu">
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Mapa de sitio</a></li>
                            <li><a href="#">Contacto</a></li>
                        </ul><!--end menu-->
                    </div><!--end navMenu-->
                    <a class="textgray underline" href="login.html"><h6 class="footer-derecha margin-derecha">Ingresar</h6></a>
                </div>
            </div>
        </div>

        @*<nav class="navbar colornav">
            <a class="colornav margin-izquierda underline" href="#">Inicio</a>
            <a class="textgray marginderecha underline" asp-action="Reserva">Reservas</a>

        </nav>*@
        <nav class="navbar navbar-expand-lg navbar-light colornav shadow-sm">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item ml-4 ">
                            <a class="nav-link active" aria-current="page" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Ofertas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
        <footer class=" footer mt-5">
            <div class="navbar colornav">
                <br />
            </div>

            @*<div class="  d-flex justify-content-center">
                <div class="row">
                    <div class="footer-centro">
                        <img src="~/img/2021-04-05 20_47_26-Window.png" width="100" height="100">
                        <a href="https://optic.gob.do/nortic/"> <img src="~/img/2021-03-16 22_19_16-Window.png" width="100" height="100"></a>
                        <a href="https://optic.gob.do/nortic/"> <img src="~/img/2021-03-16 22_11_09-Window.png" width="400" height="140" class="footer-derecha"></a>
                        <div class="footer-centro">
                            <ul>
                                <li class="underline">SunHotel Rep. Dominicana</li>
                                <li class="underline">Calle Khuala Lumpur, Punta Cana</li>
                                <li class="underline">Tel: 809-999-9999</li>
                                <li class="underline">hotelsun@turismo.com.do</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>*@
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
